/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Image Styles
	#Header
	#Navigation
	#Pagination
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Image Styles
================================================== */

	img,
	img[class*="align"],
	img[class*="wp-image-"] { max-width: 100%; height: auto; }

	img.wp-smiley {
		border: none;
	  margin-bottom: 0;
	  margin-top: 0;
	  padding: 0;
	}

	img.alignright { margin: 1em 1em 1em 0; }

	img.alignleft { margin: 1em 1em 1em 0; }

	img.aligncenter{
		display: block;
		margin: 1em auto;
	}

	img#wpstats { display: block; margin: 0 auto; }

	img[class*="align"],
	img[class*="wp-image-"],
	   .gallery .gallery-icon img { border: none; }

	.wp-caption {
		margin-bottom: 1em;
		margin-left: 0;
		max-width: 96%;
	  text-align: center;
	}

	.wp-caption img { display: block; margin: 0 auto; }

	.wp-caption-text { position: relative; font-size: .8em; }

	.gallery { margin: 0 auto; }

	.gallery .gallery-item  {
		margin: 0;
		float: left;
		text-align: center;
		width: 33%;
	}

	.gallery a img { border: none; }

	.gallery-columns-4 .gallery-item { width: 25%; }

	.gallery-columns-4 .gallery-item img { width: 100%; height: auto; }

	.comments ol { padding-left: 0; }

	.comments ol li { margin: 0; }

	.comment-author {
		padding: 0;
   	text-decoration: none;
	}

	@media only screen and (max-width: 800px) {
		embed,
   	object { max-width: 100%; }
	}

	@media only screen and ( max-width: 650px ) {
		.gallery-columns-3 .gallery-item { width: 33.33%; }
  	.gallery-columns-3 .gallery-item img { width: 100%; height: auto; }
	}

	@media only screen and (max-width: 480px) {
		.gallery-columns-2 .gallery-item { width: 50%; }
	  .gallery-columns-2 .gallery-item img { width: 100%; height: auto; }
	}

/* #Header
================================================== */

	header {}
	nav .title-area {
	 	float: left;
		margin: 0;
		width: 25%;
	}
		nav .title-area .name {
			line-height: 100px;
			font-size: 100%;
			height: 100px;
			letter-spacing: 0.2em;
			margin: 0;
			padding: 5%;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}
	header nav {
		display: block;
		height: 100px;
		line-height: 100px;
		margin: 0;
		padding: 0;
		position: relative;
	}


/* #Navigation
================================================== */
	
	.nav {
		display: block;
		float: right;
		position: relative;
		width: 75%;
		padding: 0px;
		margin: 0 auto !important;
		text-align: right;
	}
		.nav * {
			-webkit-tap-highlight-color: transparent !important;
		}
		.nav a {
			color: #333333;
			text-decoration: none;
		}
			.nav a:hover {
				opacity: 0.7;
			}
	.nav ul {
		display: block;
		width: auto !important;
		margin: 0 auto !important;
		overflow: hidden;
		list-style: none;
	}
		.nav ul li {
			display: inline;
			margin: 0px;
			padding: 10px;
		}



/* #Pagination
================================================== */
	
	.pagination li {
		display: inline-block;
	}
	.pagination li a {		
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  line-height: normal;
	  padding: 8px 10px;
	}


/* #Page Styles
================================================== */

	article .title a { text-decoration: none; }
	article .meta a { text-decoration: none; }

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		header nav {
			height: 45px;
			line-height: 45px;
		}
		header nav .container { margin: 0; width: 100%; }
		header nav .title-area { display: none; }
		header nav .nav { width: 100%; }
		header .menu-icon { display: none; }

	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/